example/Potree/pointclouds/octree.bin filter=lfs diff=lfs merge=lfs -text
C:/Users/jorda/Encontros/Encontros/example/Potree/pointclouds/metadata.json filter=lfs diff=lfs merge=lfs -text
C:/Users/jorda/Encontros/Encontros/example/Potree/pointclouds/octree.bin filter=lfs diff=lfs merge=lfs -text
C:/Users/jorda/Encontros/Encontros/example/Potree/pointclouds/log.txt filter=lfs diff=lfs merge=lfs -text
C:/Users/jorda/Encontros/Encontros/example/Potree/pointclouds/hierarchy filter=lfs diff=lfs merge=lfs -text

